<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LoginApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
   
    

    <div class="ml-auto">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" *ngIf="isLogin">
            <a class="nav-link" (click)="logoutUser()" routerLink="">Log out<span class="sr-only" >(current)</span></a>
          </li>
            <li class="nav-item" *ngIf="!isLogin">
              <a class="nav-link" routerLink="/login">log in <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="!isLogin">
              <a class="nav-link" routerLink="/singup" >Sing up</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
              <a class="nav-link" >{{nameUser}}</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
              <a class="nav-link" routerLink="/privado" ><img width="30" height="30" class="img-fluid rounded-circle" src="{{fotoUser}}" alt=""></a>
            </li>
          </ul>
    </div>

  </div>
  </nav>